<!DOCTYPE html>
<html>
<head>
	<title>Interactive Directory with Backbone.js</title>
	<link href="css/style.css" rel="stylesheet" />
</head>
<body>
	
	<div id="wrapper">
		<h1>Interactive Directory</h1>
		<div class="tools">
			Search:<br/>
			<input type="text" id="searchBox" /><br/><br/>
			Filter:
			<div id="filters"></div>
			<div id="count"></div>
		</div>
		<ul id="listing"></ul>
	</div>
	
	<script type="text/template" id="person-template">
		<span class="list-header"><%= firstname %> <%= lastname %> (<%= type %>)</span>
		<div class="details">
			home phone: <%= homephone %><br/>
			email: <a href="mailto:<%= email %>"><%= email %></a>
		</div>
	</script>
	
	<script src="js/data.json" type="text/javascript"></script>
	
	<script src="js/libs/jquery-1.10.2.min.js" type="text/javascript"></script>
	<script src="js/libs/underscore-min.js" type="text/javascript"></script>
	<script src="js/libs/backbone-min.js" type="text/javascript"></script>
	
	<script src="js/routers/router.js" type="text/javascript"></script>
	<script src="js/models/person-model.js" type="text/javascript"></script>
	<script src="js/views/person-views.js" type="text/javascript"></script>
	
	<script src="js/app.js" type="text/javascript"></script>
	
	
</body>
</html>